<pngx-page-header i18n-title title="Split & Merge Editor">
  <div class="btn-group mt-2 mt-sm-0">
    <button class="btn btn-sm btn-outline-primary" i18n-title title="Add Documents" (click)="chooseDocuments()">
      <i-bs name="plus-circle"></i-bs>&nbsp;<ng-container i18n>Add Documents</ng-container>
    </button>
  </div>
  <div class="btn-group ms-2 mt-2 mt-sm-0">
    <button type="button" class="btn btn-sm btn-outline-primary"
      [popoverTitle]="optionsTitle" [autoClose]="'outside'" [ngbPopover]="optionsPopoverBody" popoverClass="options-popover shadow" #optionsPopover="ngbPopover">
      <i-bs name="gear"></i-bs>&nbsp;<ng-container i18n>Options</ng-container>
    </button>
    <ng-template #optionsTitle>
      <ng-container i18n>Options</ng-container>
      <button type="button" class="btn-close btn-sm" aria-label="Close" (click)="optionsPopover.close()"></button>
    </ng-template>
    <ng-template #optionsPopoverBody>
      <div class="form-group row text-dark">
        <label for="source_options" class="col-sm-3 col-form-label pt-0" i18n>Delete source documents</label>
        <div class="col-sm-9">
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="source_options-delete" role="switch" [(ngModel)]="delete_source_documents" [checked]="delete_source_documents">
            <label class="form-check-label" for="source_options-delete" [class.text-danger]="delete_source_documents"><ng-container i18n>Delete</ng-container><br/><small [class.text-muted]="!delete_source_documents" i18n>Source documents will be immediately deleted.</small></label>
          </div>
        </div>
      </div>
      <div class="form-group mt-4 row text-dark">
        <label for="metadata_options" class="col-sm-3 col-form-label pt-0" i18n>Output document metadata</label>
        <div class="col-sm-9">
          <div class="form-check">
            <input type="radio" id="metadata_setting-copy" name="metadata_setting" class="form-check-input" [value]="splitMergeMetadata.COPY_FIRST" [(ngModel)]="metadata_setting">
            <label class="form-check-label" for="metadata_setting-copy"><ng-container i18n>First document</ng-container><br/><small class="text-muted" i18n>Metadata will be copied from first document.</small></label>
          </div>
          <div class="form-check custom-radio">
            <input type="radio" id="metadata_setting-redo" name="metadata_setting" class="form-check-input" [value]="splitMergeMetadata.REDO" [(ngModel)]="metadata_setting">
            <label class="form-check-label" for="metadata_setting-redo"><ng-container i18n>Redo</ng-container><br/><small class="text-muted" i18n>Metadata detection will be re-run on new document.</small></label>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="btn-group ms-2 me-2 me-sm-5 mt-2 mt-sm-0">
    <button class="btn btn-sm btn-outline-primary" i18n-title title="Save" (click)="save()" [disabled]="splitMergeService.getDocuments().length < 1">
      <i-bs name="check-circle"></i-bs>&nbsp;<ng-container i18n>Save</ng-container>
    </button>
  </div>

  <div class="btn-group ms-sm-5 mt-2 mt-sm-0">
    <button class="btn btn-sm btn-outline-danger" i18n-title title="Cancel" (click)="cancel()">
      <i-bs name="slash-circle"></i-bs>&nbsp;<ng-container i18n>Cancel</ng-container>
    </button>
  </div>
</pngx-page-header>

<div class="row">
  <div class="h-100 col-md-6 col-lg-5" cdkDropList (cdkDropListDropped)="onDrop($event)">
    @for (d of documents; track d; let i = $index) {
      <div class="card mb-3" [class.separator-card]="d.is_separator"
        cdkDrag cdkDragPreviewContainer="parent"
        cdkDragLockAxis="y"
        (cdkDragStarted)="onDragStart($event)"
        (cdkDragEnded)="onDragEnd($event)">
        @if (d.is_separator) {
          <div class="separator"></div>
          <h6 class="text-muted small font-weight-bold d-inline-block py-2 px-3 mb-0 mx-auto bg-body" i18n>Document End</h6>
          <button class="btn btn-sm btn-danger" title="Remove" (click)="removeDocument(d, i)">
            <i-bs name="trash"></i-bs>
          </button>
        } @else {
          <div class="row no-gutters">
            <div class="col-md-3 bg-light d-flex align-items-center p-0 handle">
              <i-bs class="px-2" width="1.5em" height="1.5em" name="grip-vertical"></i-bs>
              <div class="doc-thumb" [style.background-image]="'url(' + getThumbUrl(d.id) + ')'"></div>
            </div>
            <div class="col-md-9">
              <div class="card-body p-3">
                <h6 class="card-title mb-2">{{d.title}}</h6>
                <div class="card-actions">
                  <div class="btn-toolbar btn-toolbar-sm justify-content-between w-100">
                    <button class="btn btn-sm btn-outline-danger flex-fill" i18n-title title="Remove" (click)="removeDocument(d, i)">
                      <i-bs name="trash"></i-bs>&nbsp;<ng-container i18n>Remove</ng-container>
                    </button>
                    <button class="btn btn-sm btn-outline-primary ms-3 flex-fill" i18n-title title="Split" (click)="chooseSplit(d, i)">
                      <i-bs name="scissors"></i-bs>&nbsp;<ng-container i18n>Split</ng-container>
                    </button>
                  </div>
                  <div class="input-group input-group-sm w-100 mt-3">
                    <div class="input-group-text"><ng-container i18n>Pages</ng-container>:</div>
                    <pngx-input-debounce delay="500" classes="form-control-sm" placeholder="All" ngbTooltip="e.g. 1-3,5" pattern="[0-9\,\-]" [inputValue]="formatPages(d.pages)" (value)="pagesFieldChange($event, d, i)"></pngx-input-debounce>
                    <button class="btn btn-outline-primary" type="button" i18n-title title="Select Pages" (click)="choosePages(d, i)">
                      <i-bs name="pencil"></i-bs>&nbsp;<ng-container i18n>Select Pages</ng-container>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
  <div class="col-md-6 col-lg-7">
    @if (error) {
      <ngb-alert type="danger" class="mt-2 mb-0" [dismissible]="false">
        <h6 class="alert-heading" i18n>An error occurred during operation</h6>
        <p class="mb-0 pb-1" i18n>Please check document settings and parts.</p>
        <p class="mb-0 pb-1 small"><ng-container i18n>Message</ng-container>: <span class="font-italic">{{error}}</span></p>
      </ngb-alert>
    } @else if (!error && previewUrls.length > 1) {
      <ul ngbNav #previewNav="ngbNav" class="nav-tabs">
        @for (previewUrl of previewUrls; track previewUrl; let j = $index) {
          <li [ngbNavItem]="j">
            <a ngbNavLink><ng-container i18n>Document</ng-container> {{j + 1}}</a>
            <ng-template ngbNavContent>
              <div class="preview-container px-2 tabbed text-center bg-light">
                <ng-container [ngTemplateOutlet]="previewHeader" [ngTemplateOutletContext]="{ $implicit: j }"></ng-container>
                <pngx-pdf-viewer [src]="previewUrl" [original-size]="false" [show-borders]="true" [show-all]="true" [render-text-mode]="2" [(page)]="previewCurrentPages[j]" (after-load-complete)="pdfPreviewLoaded($event, j)" (page-rendered)="pdfPageRendered($event, j)"></pngx-pdf-viewer>
              </div>
            </ng-template>
          </li>
        }
      </ul>
      <div [ngbNavOutlet]="previewNav"></div>
    } @else if (!error && previewUrls.length <= 1) {
      <div class="preview-container px-2 text-center bg-light">
        <ng-container [ngTemplateOutlet]="previewHeader" [ngTemplateOutletContext]="{ $implicit: 0 }"></ng-container>
        @if (previewUrls.length > 0) {
          <pngx-pdf-viewer
            [src]="previewUrls[0]"
            [original-size]="false"
            [show-borders]="true"
            [show-all]="true"
            [render-text-mode]="2"
            [(page)]="previewCurrentPages[0]"
            (after-load-complete)="pdfPreviewLoaded($event,0)"
            (page-rendered)="pdfPageRendered($event, 0)">
          </pngx-pdf-viewer>
        }
      </div>
    }
  </div>
</div>

<ng-template #previewHeader let-index>
  <div class="d-flex mt-2 p-2 w-100 justify-space-between">
    <h6 class="text-muted mt-1" [class.mx-auto]="previewNumPages[index] === undefined" [class.me-auto]="previewNumPages[index] !== undefined" i18n>Preview</h6>
    @if (previewNumPages[index] !== undefined) {
      <div class="input-group input-group-sm w-auto">
        <div class="input-group-text" i18n>Page</div>
        <input class="form-control flex-grow-0 w-auto" type="number" min="1" [max]="previewNumPages[index]" [(ngModel)]="previewCurrentPages[index]" />
        <div class="input-group-text" i18n>of {{previewNumPages[index]}}</div>
      </div>
    }
  </div>
  @if (loading) {
    <div class="spinner-border" role="status">
      <span class="visually-hidden" i18n>Loading...</span>
    </div>
  }
</ng-template>
